
.vs/ImageViewer/v15/.suo
.vs/ImageViewer/v15/Server/sqlite3/db.lock
.vs/ImageViewer/v15/Server/sqlite3/storage.ide
.vs/ImageViewer/v15/Server/sqlite3/storage.ide-shm
.vs/ImageViewer/v15/Server/sqlite3/storage.ide-wal
Flicker/bin/Debug/Flicker.dll
Flicker/bin/Debug/Flicker.pdb
Flicker/bin/Debug/Infrastructure.dll
Flicker/bin/Debug/Infrastructure.pdb
Flicker/obj/Debug/Flicker.csproj.CopyComplete
Flicker/obj/Debug/Flicker.csproj.CoreCompileInputs.cache
Flicker/obj/Debug/Flicker.csproj.FileListAbsolute.txt
Flicker/obj/Debug/Flicker.csprojAssemblyReference.cache
Flicker/obj/Debug/Flicker.dll
Flicker/obj/Debug/Flicker.pdb
Flicker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Flicker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Flicker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ImageProvider/bin/Debug/Flicker.dll
ImageProvider/bin/Debug/Flicker.pdb
ImageProvider/bin/Debug/ImageProvider.dll
ImageProvider/bin/Debug/ImageProvider.pdb
ImageProvider/bin/Debug/Infrastructure.dll
ImageProvider/bin/Debug/Infrastructure.pdb
ImageProvider/obj/Debug/ImageProvider.csproj.CopyComplete
ImageProvider/obj/Debug/ImageProvider.csproj.CoreCompileInputs.cache
ImageProvider/obj/Debug/ImageProvider.csproj.FileListAbsolute.txt
ImageProvider/obj/Debug/ImageProvider.csprojAssemblyReference.cache
ImageProvider/obj/Debug/ImageProvider.dll
ImageProvider/obj/Debug/ImageProvider.pdb
ImageProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ImageProvider/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ImageViewer/bin/Debug/Flicker.dll
ImageViewer/bin/Debug/Flicker.pdb
ImageViewer/bin/Debug/ImageProvider.dll
ImageViewer/bin/Debug/ImageProvider.pdb
ImageViewer/bin/Debug/ImageViewer.exe
ImageViewer/bin/Debug/ImageViewer.exe.config
ImageViewer/bin/Debug/ImageViewer.pdb
ImageViewer/bin/Debug/Infrastructure.dll
ImageViewer/bin/Debug/Infrastructure.pdb
ImageViewer/obj/Debug/App.g.cs
ImageViewer/obj/Debug/App.g.i.cs
ImageViewer/obj/Debug/ImageViewer.csproj.CopyComplete
ImageViewer/obj/Debug/ImageViewer.csproj.CoreCompileInputs.cache
ImageViewer/obj/Debug/ImageViewer.csproj.FileListAbsolute.txt
ImageViewer/obj/Debug/ImageViewer.csproj.GenerateResource.cache
ImageViewer/obj/Debug/ImageViewer.csprojAssemblyReference.cache
ImageViewer/obj/Debug/ImageViewer.exe
ImageViewer/obj/Debug/ImageViewer.g.resources
ImageViewer/obj/Debug/ImageViewer.pdb
ImageViewer/obj/Debug/ImageViewer.Properties.Resources.resources
ImageViewer/obj/Debug/ImageViewer_MarkupCompile.cache
ImageViewer/obj/Debug/MainWindow.baml
ImageViewer/obj/Debug/MainWindow.g.cs
ImageViewer/obj/Debug/MainWindow.g.i.cs
ImageViewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ImageViewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ImageViewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Infrastructure/bin/Debug/Infrastructure.dll
Infrastructure/bin/Debug/Infrastructure.pdb
Infrastructure/obj/Debug/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/Infrastructure.csprojAssemblyReference.cache
Infrastructure/obj/Debug/Infrastructure.dll
Infrastructure/obj/Debug/Infrastructure.pdb
Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/ImageViewer/v16/.suo
Flicker/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ImageProvider/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ImageViewer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Infrastructure/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ImageViewerPackager/obj/Debug
/ImageViewerPackager/bin/AnyCPU/Debug
/ImageViewerPackager/ImageViewerPackager.wapproj.user
/ImageViewerPackager/BundleArtifacts/neutral.txt
/ImageViewerPackager/BundleArtifacts
/.vs/ImageViewer/DesignTimeBuild/.dtbcache.v2
Flicker/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Flicker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Flicker/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Flicker/obj/x64/Debug/Flicker.csproj.CopyComplete
Flicker/obj/x64/Debug/Flicker.csproj.CoreCompileInputs.cache
Flicker/obj/x64/Debug/Flicker.csproj.FileListAbsolute.txt
Flicker/obj/x64/Debug/Flicker.csprojAssemblyReference.cache
Flicker/obj/x64/Debug/Flicker.dll
Flicker/obj/x64/Debug/Flicker.pdb
ImageProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageProvider/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ImageProvider/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageProvider/obj/x64/Debug/ImageProvider.csproj.CopyComplete
ImageProvider/obj/x64/Debug/ImageProvider.csproj.CoreCompileInputs.cache
ImageProvider/obj/x64/Debug/ImageProvider.csproj.FileListAbsolute.txt
ImageProvider/obj/x64/Debug/ImageProvider.csprojAssemblyReference.cache
ImageProvider/obj/x64/Debug/ImageProvider.dll
ImageProvider/obj/x64/Debug/ImageProvider.pdb
ImageViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageViewer/obj/Debug/ImageViewer_MarkupCompile.i.cache
ImageViewer/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ImageViewer/obj/x64/Debug/App.g.cs
ImageViewer/obj/x64/Debug/App.g.i.cs
ImageViewer/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ImageViewer/obj/x64/Debug/ImageViewer.csproj.CopyComplete
ImageViewer/obj/x64/Debug/ImageViewer.csproj.CoreCompileInputs.cache
ImageViewer/obj/x64/Debug/ImageViewer.csproj.FileListAbsolute.txt
ImageViewer/obj/x64/Debug/ImageViewer.csproj.GenerateResource.cache
ImageViewer/obj/x64/Debug/ImageViewer.csprojAssemblyReference.cache
ImageViewer/obj/x64/Debug/ImageViewer.exe
ImageViewer/obj/x64/Debug/ImageViewer.g.resources
ImageViewer/obj/x64/Debug/ImageViewer.pdb
ImageViewer/obj/x64/Debug/ImageViewer.Properties.Resources.resources
ImageViewer/obj/x64/Debug/ImageViewer_MarkupCompile.cache
ImageViewer/obj/x64/Debug/ImageViewer_MarkupCompile.i.cache
ImageViewer/obj/x64/Debug/MainWindow.baml
ImageViewer/obj/x64/Debug/MainWindow.g.cs
ImageViewer/obj/x64/Debug/MainWindow.g.i.cs
Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infrastructure/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Infrastructure/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infrastructure/obj/x64/Debug/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/x64/Debug/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/x64/Debug/Infrastructure.dll
Infrastructure/obj/x64/Debug/Infrastructure.pdb
